.logo{
	background-color: black;
	text-align: left;
    height: 75px;
    padding-top: 15px;
}
.container_1{
    width: 910px;
    margin-left: auto;
    margin-right: auto;
    
}
.container_2{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    
}
.buttons{
	background-color: #3c4342;
	height:32px;
	border: none;
	color: white;
    text-align: left;
}
body{
	text-align:center;
	color: black;
    font-family: Arial;
}

.main_Body{
    margin-top: 35px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 910px;
    height: 352px;
    border: 1.5px solid #eee;
    
    
}   
.main_Body_Image{
    margin-top: 5px;
    
}    
.bottom-left {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    text-align: left;
    color: lightgray;
    background-image: url("bg_text.png");
    width: 880px;
    height: 50px;
    font-size: 12px;
    
    
}
.lorem_table{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 12px;
} 

.td_margin_1{
    padding: 0px 0px 0px 40px;
}
.td_margin{
    padding: 10px 0px 0px 40px;
}
.lorem_Back_1{
    background-image: url("icon_info.png");
    background-repeat: no-repeat;
    background-position: left ;
    padding: 0px 0px 0px 40px;
}
.lorem_Back_2{
    background-image: url("icon_info.png");
    background-repeat: no-repeat;
    background-position: left ;
    padding: 0px 0px 0px 40px;
}
.lorem_Back_3{
    background-image: url("icon_info.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 0px 0px 0px 40px;
}
.sign{
    font-size: 12px;
    background-color: black;
    color: lightgray;
    width: 915px;
    padding-left: 5px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}